// Variables

$links-multiplier: -0.375rem;

$color-white: #fff;
$color-light: #f7f7f7;
$color-dark: #333;
$color-black: #000;

$font-sans: "Roboto", Arial, Helvetica, sans-serif;
$font-serif: "Merriweather", serif;

$transition-1: 0.25s;
