#s0 {
  padding-top: 5rem;
}

#s1,
#s2,
#s3,
#s4,
#s5 {
  padding: 7rem 0 3rem;
}

#s5 {
  padding-bottom: 7rem;
}

// #s0 {
//   background: linen;
// }

// #s1 {
//   background: lightblue;
// }

// #s2 {
//   background: lightgoldenrodyellow;
// }

// #s3 {
//   background: peachpuff;
// }

// #s4 {
//   background: lightcyan;
// }

// #s5 {
//   background: pink;
// }
