.btn {
  display: inline-block;
  padding: 0.75em 1.5em;
  margin-right: 0.5em;

  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1;
  text-align: center;

  border: 2px solid var(--color-text);
  border-radius: 3px;

  transition: $transition-2;
  cursor: pointer;
  color: inherit;

  @media (max-width: $bp-max-xs) {
    padding: 0.75em 1.75em;
  }

  &--outlined {
    background: transparent;
  }

  &--filled {
    background: var(--color-text);
    color: var(--color-bg);
  }

  &:hover {
    transform: translateY(-1px);
  }

  &:active {
    transform: translateY(0px);
  }
}
