/////////////////////////////////////
// Slick Slider 1.8.1, https://kenwheeler.github.io/slick/

// Core

.single-item {
  display: none;
}

.single-item.slick-initialized {
  display: block;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;

  .slick-track,
  .slick-list {
    transform: translate3d(0, 0, 0);
  }
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;

  &:focus {
    outline: none;
  }

  .dragging {
    cursor: pointer;
    cursor: hand;
  }
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;

  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;

  height: 100%;
  min-height: 1px;

  &:focus {
    outline-color: transparent;
  }

  img {
    display: block;
  }

  .slick-loading img {
    display: none;
  }

  .dragging img {
    pointer-events: none;
  }
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow .slick-hidden {
  display: none;
}

// Theming

// .slick-loading .slick-list {
//   background: #fff url("./ajax-loader.gif") center center no-repeat;
// }

/* Icons */
// @font-face {
//   font-family: "slick";
//   font-weight: normal;
//   font-style: normal;

//   src: url("./fonts/slick.eot");
//   src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"),
//     url("./fonts/slick.woff") format("woff"),
//     url("./fonts/slick.ttf") format("truetype"),
//     url("./fonts/slick.svg#slick") format("svg");
// }

/* Arrows */

.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  padding: 2rem;
  border-radius: 50%;

  cursor: pointer;

  font-size: 0;
  line-height: 0;

  background: var(--color-bg);
  border: none;
  box-shadow: 0 0 1rem rgba($color-black, 0.3);

  @media (max-width: $bp-max-sm) {
    display: none;
  }

  &:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;

    opacity: 0.75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  &:hover,
  &:focus {
    color: transparent;
    outline: none;
  }

  &:hover:before,
  &:focus:before {
    opacity: 1;
  }

  .slick-disabled:before {
    opacity: 0.25;
  }
}

.slick-prev {
  left: -5rem;

  @media (max-width: $bp-max-lg) {
    left: -2rem;
  }
}

[dir="rtl"] .slick-prev {
  right: -5rem;
  left: auto;

  @media (max-width: $bp-max-lg) {
    right: -2rem;
  }
}

.slick-next {
  right: -5rem;

  @media (max-width: $bp-max-lg) {
    right: -2rem;
  }
}

[dir="rtl"] .slick-next {
  right: auto;
  left: -5rem;

  @media (max-width: $bp-max-lg) {
    left: -2rem;
  }
}

.slick-prev:before,
[dir="rtl"] .slick-next:before {
  content: "←";
}

.slick-next:before,
[dir="rtl"] .slick-prev:before {
  content: "→";
}

/* Dots */

.slick-dotted .slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: 1rem;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  @media (max-width: $bp-max-xs) {
    padding: 0;
    background: none;
    bottom: -2.5rem;
  }

  li {
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
  }

  li button {
    display: block;
    padding: 5px;
    border: 0;
    outline: none;

    cursor: pointer;
  }

  li button:hover,
  li button:focus {
    outline: none;
  }

  li button:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1.25rem;
    height: 1.25rem;
    background: var(--color-white);
    border-radius: 50%;
  }

  li.slick-active button:before {
    background: var(--color-dark);
    border: 1px solid;
    border-color: var(--color-bw);

    @media (max-width: $bp-max-xs) {
      border: 4px solid;
    }
  }
}
